<!-- # Tela Login  --> 
<div ng-init="loadData()" ng-controller="tabuleiro" class="board">
	<loading-game ng-if="isLoading"></loading-game>
	<msg-erro>{{errorMessage}}</msg-erro> 
	 
	<tabuleiro board-data="userQuestions" ></tabuleiro>

        <div class="user-info" ng-if="userName">
            <figure>
                <img src="../dist/assets/cabeca-personagem.png">
            </figure>

            <span>{{userName}}</span>
           
            <span>{{userScore | number}} pts</span>
              
            <button ng-click="openRank()">Ranking</button>
        </div> 
	<question ng-if="isQuestion" pergunta="userQuestion"></question>
	<special-um ng-if="isSpecial1"></special-um>
	<ranking ng-if="isRanking" ranking="gameRank"></ranking>
</div>
