<!-- # Tela Login  --> 
<div ng-init="loadData()" ng-controller="tabuleiro" class="board">
	<msg-erro>{{errorMessage}}</msg-erro> 
	 
	<tabuleiro board-data="userQuestions" ></tabuleiro>

        <div class="user-info" ng-if="userName">
            <figure>
                <img src="../dist/assets/cabeca-personagem.png">
            </figure>

            <span>{{userName}}</span>
           
            <span>{{userScore | number}} pts</span>
              
            <button ng-click="openRank()">Ranking</button>
        </div> 

    <!-- carrega perguntas simples -->
	<question ng-if="isQuestion" pergunta="userQuestion"></question>
     <!-- carrega especial1 -->
    <sinais-e-sintomas ng-if="isSpecial1" data="questionEspecial"></sinais-e-sintomas>
    <!-- carrega especiais 2 -->
    <vantagens-e-disvantagens ng-if="isSpecial2" data="userQuestion"></vantagens-e-disvantagens>
	<vantagens-e-disvantagens-2 ng-if="isSpecial3" data="userQuestion"></vantagens-e-disvantagens-2>

     <!-- carrega ranking-->
	<ranking ng-if="isRanking" ranking="gameRank"></ranking>

</div>
