<!-- # Tela Login  --> 

<msg-erro>{{errorMessage}}</msg-erro> 
<div ng-init="loadData()" ng-controller="tabuleiro" class="board">
	
<!-- 	<question ng-if="isQuestion"  ></question>
	<ranking ng-if="isRanking"></ranking> -->
	<!-- <sepecial></sepecial> -->
	<!-- <final></final> -->

	<tabuleiro board-data="userQuestions" ></tabuleiro>

        <div class="user-info">
            <figure>
                <img src="../dist/assets/cabeca-personagem.png">
            </figure>

            <span>{{userName}}</span>
           
            <span>{{userScore | number}} pts</span>
              
            <button ng-click="openRank()">Ranking</button>
        </div> 
	<question ng-if="isQuestion" pergunta="userQuestion"></question>
	<ranking ng-if="isRanking" ranking="gameRank"></ranking>
</div>
