<!-- # Tela Login  --> 
<style type="text/css">
.pergunta{
	z-index: 104;
}
	.profile{
		position: absolute;
	    z-index: 103;
	        height: 150px;
    width: 50%;
	}
	.profile > img{
		float: left;
		width: 8em;
		height: 8em;
	}
	.profile > p{
		float: left;
	    width: 75%;
	    font-weight: bold;
	    font-size: 16px;
	    clear: right;
	    color: #ffc80f;
	    text-align: left;
	    padding-left: 3%;
	}
</style>
<div ng-if="error" >{{errorMessage}}</div> 
<question ng-if="isQuestion"></question> 
<div ng-if="special">casa especial</div> 
<div class="profile" ng-model="userData" ng-init="userGetData()">
	<img src="dist/assets/img-maria-desenho.png">
	<p>{{userData.userName}}</p>
	<p>{{userData.userScore}}</p>
</div> 
<board score="score" active-house="activeHouse" answer="answer" correct-answer="correctAnswer" board-data="boardData" user-data="userData"></board>
