<!DOCTYPE html>
<html ng-app="questApp">

  <head>
    <base href="/">
    <title>Quest Olaparibe</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
    <meta name="viewport" content="width=device-width, initial-scale=1">   

    <!-- ## Dependências css do bower inserida automaticamente pela tarefa do grunt wiredep ## -->
    <!-- ## o wiredep injeta todos os pacotes dentro de bower_components, se inserir a      ## -->
    <!-- ## dependência diretamente entre o comentário bower:css ela será removida quando   ## --> 
    <!-- ## rodar o server que chama as tarefas default do grunt    ## --> 

      <!-- bower:css -->
      <link rel="stylesheet" href="../bower_components/angular-material/angular-material.css" />
      <!-- endbower --> 

      <!-- ## Css minificado gerado através do src/styles/stylesheet.css que é compilado     ## -->
      <!-- ## automaticamente por src/styles/stylesheet.less ## -->
      <link rel="stylesheet" href="dist/css/stylesheet.min.css" />

  </head>

  <body ng-controller="mainController">
    <div class="container">
      <div class="logout" ng-controller="logoutController" ng-if="userActive">
        <a ng-click='logout()' class="btn btn-default">Sair</a>
      </div>
      <div ng-if="error" layout="row" layout-sm="column"></div>

      <div ng-if="startGame" layout="row" layout-sm="column"></div>
      
      <div ng-view layout="row" layout-sm="column"></div>
    </div>
<!-- 
    <strong>Sugestão de rotas da paginas iniciais: </strong>
    <br/><br/>
    | <a href="/#/">Login</a>  
    | <a href="/#/saudacoes">Saudações (Instruções 1) </a>  
    | <a href="/#/mais-sobre">Mais sobre (Instruções 2) </a>  
    | <a href="/#/vamos-jogar">Vamos Nessa (Instruções 3) </a>   -->

    <!-- ## Dependências js do bower inseridas automaticamente pela tarefa do grunt wiredep ## -->
    <!-- ## o wiredep injeta todos os pacotes dentro de bower_components, se inserir a      ## -->
    <!-- ## dependência diretamente entre o comentário bower:js ela será removida quando    ## --> 
    <!-- ## rodar o server que chama as tarefas default do grunt   ## --> 

      <!-- bower:js -->
      <script src="../bower_components/angular/angular.js"></script>
      <script src="../bower_components/angular-route/angular-route.js"></script>
      <script src="../bower_components/angular-resource/angular-resource.js"></script>
      <script src="../bower_components/angular-cookies/angular-cookies.js"></script>
      <script src="../bower_components/angular-aria/angular-aria.js"></script>
      <script src="../bower_components/angular-animate/angular-animate.js"></script>
      <script src="../bower_components/angular-messages/angular-messages.js"></script>
      <script src="../bower_components/angular-material/angular-material.js"></script>
      <!-- endbower -->  

    <!-- ## Script global gerado automaticamente pelo grunt concat, que junta os scripts do ## -->
    <!-- ## do angular (main/controllers/services/directives) nesta ordem ## -->

      <script src="dist/js/global.js"></script> 


  </body> 

</html>