<!-- # Tela Login  -->
<div class="box-content login" set-height>
<div ng-if="error" >{{errorMessage}}</div>
    <form class="form-login" ng-submit="login()"> 
        <label for="username"> 
          <input type="text" name="username" ng-model="loginForm.username" required placeholder="nome de usuário">
        </label>  
        <label for="password"> 
            <input type="password" name="password"  ng-model="loginForm.password" required placeholder="senha">
        </label>  
        <button type="submit" class="btn btn-default" ng-disabled="disabled">Iniciar</button>    
    </form>  
</div>