<!-- # Tela Saudações -->
<div class="box-content instrucoes" set-height>
	<div ng-show="error">{{errorMessage}}</div>
	<div class="header">
		<img src="dist/assets/logoquest.png" >
		<img src="dist/assets/logoastra.png" >
	</div> 
	<div class="box-infos">

	 <div class="dialogos">

	 	<p>Durante nossa jornada pela cidade maravilhosa, em busca da primeira maravilha, encontraremos diversos testes de conhecimento, tanto os mais simples quanto os mais especiais. 
	 	</p>

	 	<p>
	 	Nos quizzes simples, a cada 5 acertos, vocês ganharão uma carta surpresa, como esta. Use a com sabedoria para melhorar seu desempenho.	
	 	</p>

	 </div>
 	<div class="personagem"> <img src="../../../dist/assets/personagem.png" ></div>    
	
    <button type="button" class="btn btn-default" ng-click="go('vamos-jogar')">proximo</button>  
  </div>
</div>