<!-- # Tela Saudações -->
<div class="box-content instrucoes" set-height>
	<div ng-show="error">{{errorMessage}}</div>
	<div class="header">
		<img src="dist/assets/logoquest.png" >
		<img src="dist/assets/logoastra.png" >
	</div> 
	<div class="box-infos">

		 <div class="dialogos">

		 	<p>Olá Fulano de Tahl, meu nome é Olavo Paribe e a pedido da equipe de Olaparibe, serei seu Guia nessa expedição pelas sete maravilhas do mundo, que começa aqui no Rio de Janeiro, com Olaparibe.</p>
		 	<p>Para chegarmos até a próxima etapa, teremos que encarar todos os desafios do nosso mapa.</p>

		 </div>

	 	<div class="personagem"> <img src="../../../dist/assets/personagem.png" ></div>    
		
	    <button type="button" ng-click="go('mais-sobre')">proximo</button>  
	  
	</div>
</div>