
    <div class="tabuleiro-inicio">Inicio</div>
    <div class="tabuleiro-sinais">Sinais e<br>sintomas</div>
    <div class="tabuleiro-vantagens">Vantagens e<br>desvantagens</div>
    <div class="tabuleiro-stackholders">Stackholders</div>
    <div class="tabuleiro-cristo">Cristo Redentor<br>Final</div>
    <ul>
        
        <div ng-repeat="b in blocos" class="bloco-{{b.id}}" > 
        
            <li ng-repeat="c in blocos[$index].bloco" ng-click="openQ()"  id="bloco-{{c.id}}" class="casas-bloco-{{b.id}}" ng-class="{ultimaReposta: c.isSelected}"></li>

                 
        </div>

    </ul>