<!-- # Vamos jogar -->
<div class="box-content" set-height>
	<div class="logoquest"></div>
	<div class="logoastra"></div>
	<div ng-show="error">{{errorMessage}}</div>
	<div class="info">
		 <div class="instrucoes">
		 	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent aliquam erat eget dolor faucibus, sed ullamcorper ex volutpat. Mauris ex ante, vehicula quis finibus quis, lacinia a lectus. Fusce eros metus, consequat at massa interdum, ornare mollis mauris. Aenean eleifend mauris nisl, tincidunt tempus urna pellentesque eu. Curabitur rutrum lacus sed lacus scelerisque consequat. Phasellus massa sapien, commodo ac blandit sed, rutrum et magna. Quisque varius imperdiet ante interdum pretium. Integer convallis vitae neque sed convallis. Praesent dignissim ex eu odio sagittis, a vestibulum leo egestas.</p>
		 </div>
	 </div>
    <button type="button" class="btn btn-default" ng-click="go('game')" >Vamos nessa</button>
     <div class="personagem"> <img src="../../../dist/assets/personagem.png" ></div>     
</div>