<!-- # Tela Saudações -->
<div class="box-content instrucoes" set-height>
	<div ng-show="error">{{errorMessage}}</div>
	<div class="header">
		<img src="dist/assets/logoquest.png" >
		<img src="dist/assets/logoastra.png" >
	</div> 
	<div class="box-infos">

	 <div class="dialogos">

	 	<p>Lembre-se. Esse é apenas o início da nossa jornada. Aindatemos mais  seis maravilhas a serem conquistadas pelo mundo antes de conquistarmos a oitava, o Olaparibe.
	 	</p>

	 	<p>Você está pronto?</p>

	 </div>
 	<div class="personagem"> <img src="../../../dist/assets/personagem.png" ></div>    
	
    <button type="button" ng-click="go('game')">vamos nessa</button>  
  </div>
</div>