<div class="pergunta">
	<p class="titulo">{{titulo}}</p>
   

            <ul>
            	<li id="option" ng-repeat="data in alternativas" ng-click="responder()">
            		 
            		<p class="valor" id="v{{$index}}" ng-class="{ultimaRespondida: isSelected}"> {{data.Valor}}</p>
            		<p class="desc"> {{data.DescricaoAlternativa}}</p>
            		 
            	</li>
            </ul>
 
     
    <button ng-if="optInvalid" ng-click="close()">fechar</button>
    <button ng-if="optSelected" ng-click="enviaPergunta()">pronto</button>
 
</div>