<div class="pergunta">
	<p class="titulo">{{titulo}}</p>
    <p class="descricao" ng-if="descricao">{{ descricao }}</p>
    <div class="descricao-list" ng-if="descricaoList">
        <p ng-repeat="des in descricaoList">
            {{ des }}
        </p>
    </div>
   

            <ul>
            	<li id="option" ng-repeat="data in alternativas" ng-click="responder()">
            		 
            		<p class="valor" id="v{{$index}}" ng-class="{ultimaRespondida: isSelected }"> {{data.Valor}}</p>
            		<p class="desc"> {{data.DescricaoAlternativa}}</p>
            		 
            	</li>
            </ul>
 
     
    <button ng-if="optInvalid" ng-click="close()">fechar</button>
    <button ng-if="optSelected" ng-click="enviaPergunta()">pronto</button>
 
</div>