<div class="pergunta especial-simples">
<h4>Tela especial 2 - 1 (OK) Historia 1</h4>
<p class="titulo">{{titulo}}</p> 
<div class="descricao">
	<figure>
		<img ng-src="dist/assets/{{img}}">
	</figure>
	<p>{{ descricao }}</p>
</div>
<ul > 
	<li ng-repeat="opt in alternativas" ng-click="responder(opt.Valor)" id="i-{{$index}}"> 
			<p class="valor" id="v{{$index}}">{{ opt.Valor}}</p>
			<p>{{ opt.DescricaoAlternativa }} </p>
	</li> 
</ul>
 

<button ng-if="optSelected" ng-click="next('E3')">{{btnTxt}}</button>
	
</div>
