<div class="myContainer-ranking" ng-if="ranking.length > 0">
    <h1>Ranking <small>pts</small></h1>
    <img src="dist/assets/logoquest.png">
    <div class="rank-content">
        <div class="rank">
            
            <ul>
                <li id="rank" ng-repeat="user in ranking[0]">
                     
                    <p class="posicao"> {{user.Posicao}}º</p>
                    <p class="nome"> {{user.Email}}</p>
                    <p class="pontos"> {{user.Pontuacao}} <small>pts</small></p>
                     
                </li>
            </ul>
        </div>
    </div>
<!--     </div> -->

        <button ng-click="close()">voltar</button>
        <button ng-click="close()">pronto</button>

    </div>
</div>