<div class="myContainer-ranking">
    <div class="myPanel-ranking">

        <div ng-repeat="user in ranking[0]" ng-if="ranking.length > 0">
            <div class="myRanking-item">
                <button class="myRanking-position">{{user.Posicao}}º </button>
                <button class="myRanking-user-name"> {{ user.Email }}</button>
                <button class="myRanking-user-score">{{user.Pontuacao}}<small>pts</small></button>
            </div>
        </div>

    </div>

        <button ng-click="close()">voltar</button>
        <button ng-click="close()">pronto</button>

    </div>
</div>