@import (reference) "less/variables.less";
@import (reference) "less/styles.less";

body{
	margin: 0px;
	padding: 0px;
	text-align: center;
	overflow: hidden;
	font-size: 13px;
}

.container{
	width: 100%;
	min-width: 100%;
	height: auto;
	min-height: 100%; 
	position: absolute;
	box-sizing: border-box;
	top: 0px;
	left: 0px;
	overflow: hidden;

	.content{
		position: relative;
		width: 1024px;
		height: 768px;
		margin: 0px auto;
		font-family: inherit;
		overflow: hidden;
	}
}

.box-content{
	width: 100%;
	position: absolute;  
	text-align: center;
	background: url('../../../dist/assets/bg-2.png') top center no-repeat;
    background-size: 100% 100%;
    image-rendering: auto;
	.border(1px, solid, #f4f4f4);
}
.info{
	min-height: 180px;
	margin-top: 20%;
}

.login{
	background: url('../../../dist/assets/fundo-login.png') top center no-repeat !important; 
}
.login-logo{
	position: relative;
	width: auto;
	height: auto;
	margin: 1em auto;
}
.login-logo:nth-of-type(2){
	margin: 1em auto 3em auto;
}
.form-login{
	position: relative;
	color: @base-blue;
	width: 45%; 
	margin: 0px auto;

	.form-elements;

}
.instrucoes{
	background: url('../../../dist/assets/fundo-dialogo.png') top center no-repeat !important; 

	.header{
		position: relative;
		width: 100%;
		text-align: center;
		height: auto;
		clear: both;

		img{
			float: left;
			width: auto;
			height: auto;
			margin: 2em 0px 0px 4em;
		}

		img:nth-child(2){
			float: right;
			margin: 3.8em 4em 0px 0px;
		}
	}

	.box-infos{
		width: 100%;
		height: auto;
		position: relative;

		.dialogos{
			width: 600px;
			float: right;
			margin: 2em 4em 0px 0px; 
			clear: both;
		}

		.personagem{
			position: absolute;
			left: 0px;
			bottom: -6em;
		}

		button{
			width: 320px;
			margin: 64% 5% 0 auto;
		}
	}
}
 

.dialogos{
	background: #fff;
	width: auto;
	height: auto;
	padding: 5em 4em;

		p{
			font-size: 20px;
			color: @base-blue;
			margin: 0px 0px 1em 0px;
			text-align: left;
			font-weight: 600;
		}

		p:last-child{
			margin-bottom: 0px;
		}

	.border(3px, solid, @base-blue);
	.border-radius(2em);
}

canvas{
	position: relative;
	z-index: 101;
	width: 1024px;
	height: 768px;
}
/* */
.loading{
	background: url('../../../dist/assets/loading01.png');
	width: 100%;
	height: 100%;
	z-index: 120;
}

.pergunta{ 
	position: absolute; 
	background: #f2f2f2;
	color: black;
	text-align: center; 
	left: 2%;
	top: 2%;
	z-index: 102; 
	border: 1px solid #9a9c9e;
}

button{
	.default-button;
}


.default-placeholder;