<div class="myContainer-tabuleiro">
    <div class="tabuleiro-inicio">Inicio</div>
    <div class="tabuleiro-sinais">Sinais e<br>sintomas</div>
    <div class="tabuleiro-vantagens">Vantagens e<br>desvantagens</div>
    <div class="tabuleiro-stackholders">Stackholders</div>
    <div class="tabuleiro-cristo">Cristo Redentor<br>Final</div>
<div class="bloco-1">
    <button ng-click="openQuiz(1)"  id="1"  class="casas-bloco-1"></button>
    <button ng-click="openQuiz(2)"  id="2"  class="casas-bloco-1"></button>
    <button ng-click="openQuiz(3)"  id="3"  class="casas-bloco-1"></button>
    <button ng-click="openQuiz(4)"  id="4"  class="casas-bloco-1"></button>
    <button ng-click="openQuiz(5)"  id="5"  class="casas-bloco-1"></button>
    <button ng-click="openQuiz(6)"  id="6"  class="casas-bloco-1"></button>
</div>
<div class="bloco-2">
    <div>
        <button ng-click="openQuiz(7)"  id="7"  class="casas-bloco-2"></button>
    </div>
    <div>
        <button ng-click="openQuiz(8)"  id="8"  class="casas-bloco-2"></button>
    </div>
    <div>
        <button ng-click="openQuiz(9)"  id="9"  class="casas-bloco-2"></button>
    </div>
    <div>
        <button ng-click="openQuiz(10)" id="10" class="casas-bloco-2"></button>
    </div>
    <div>
        <button ng-click="openQuiz(11)" id="11" class="casas-bloco-2"></button>
    </div>
    <div>
        <button ng-click="openQuiz(12)" id="12" class="casas-bloco-2 bg-green"></button>
    </div>
</div>
<div class="bloco-3">
    <button ng-click="openQuiz(13)" id="13" class="casas-bloco-3"></button>
    <button ng-click="openQuiz(14)" id="14" class="casas-bloco-3"></button>
    <button ng-click="openQuiz(15)" id="15" class="casas-bloco-3"></button>

    <button ng-click="openQuiz(16)" id="16" class="casas-bloco-3"></button>
    <button ng-click="openQuiz(17)" id="17" class="casas-bloco-3"></button>
    <button ng-click="openQuiz(18)" id="18" class="casas-bloco-3"></button>
</div>

<div class="bloco-4">
    <div>
        <button ng-click="openQuiz(20)" id="20" class="casas-bloco-4"></button>
    </div>
    <div>
        <button ng-click="openQuiz(19)" id="19" class="casas-bloco-4"></button>
    </div>
</div>
<div class="bloco-5">
    <button ng-click="openQuiz(21)" id="21" class="casas-bloco-5 bg-green"></button>
    <button ng-click="openQuiz(22)" id="22" class="casas-bloco-5"></button>
    <button ng-click="openQuiz(23)" id="23" class="casas-bloco-5"></button>
    <button ng-click="openQuiz(24)" id="24" class="casas-bloco-5"></button>
    <button ng-click="openQuiz(25)" id="25" class="casas-bloco-5"></button>
    <button ng-click="openQuiz(26)" id="26" class="casas-bloco-5 bg-green"></button>
    <button ng-click="openQuiz(27)" id="27" class="casas-bloco-5"></button>
    <button ng-click="openQuiz(28)" id="28" class="casas-bloco-5"></button>
</div>
<div class="bloco-6">
    <div>
        <button ng-click="openQuiz(29)" id="29" class="casas-bloco-6"></button>
    </div>
    <div>
        <button ng-click="openQuiz(30)" id="30" class="casas-bloco-6"></button>
    </div>
</div>
        <div class="myPanel-user-tabuleiro">
        <div class="myBox-imageHead">
            <div class="myImg">
                <img src="img/cabeça-personagem.png" width="80px">
            </div>
        </div>
        <div class="myData-user">
            <span class="myUser-name">{{user.name}}</span>
            <br>
            <span class="myUser-score">{{user.score}}</span><span class="myPts">pts</span>
            <br>
            <a class="btn myButton-ranking" href="#!/ranking">Ranking</a>
        </div>
    </div>

</div>